<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008542086591-ja3qin0i1ull9ktjgo7oo6k6hb2eq9tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008542086591-ja3qin0i1ull9ktjgo7oo6k6hb2eq9tk</string>
	<key>API_KEY</key>
	<string>AIzaSyC6UumYeUjE0rCF_BifLk1ZFPksWtWF35Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1008542086591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saferschwoam</string>
	<key>PROJECT_ID</key>
	<string>saferschwoam</string>
	<key>STORAGE_BUCKET</key>
	<string>saferschwoam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008542086591:ios:7aaaa7c84b977de57edd0a</string>
</dict>
</plist>